$custom-green: #78C16B;
$custom-green2: #27AE60;
$custom-grey: #F0F0F0;


$bg-color-main: $white;
$bg-color-secondary: $custom-grey;
$bg-color-green: $custom-green;
$bg-color-green2: $custom-green2;



$color-main: #5F5F5F; //light black
$color-white: $white;
$color-secondary: $custom-green; //green
$color-third: $custom-green2; //green


$header-height: 72px;
