
#header{
  background-color: $bg-color-main;
  // background-color: transparent;
  @include box_shadow(2);
  width: 100%;
  height: $header-height;
  position: fixed;
  font-size: 17px;
  font-family: 'Nunito', 'Open Sans', sans-serif;
  z-index: 999;

  .container-mustad{
    @include disp-flex;
    justify-content: space-between;
    height: 100%;
    width: auto;

    .logo-container{
      // max-height: 36px;
      // position:relative;
      // flex: 0.5;
      height: 100%;
      @include disp-flex;
      align-items: center;
      // margin: 0 0 0 2.5em;
      // padding: 0;
      img{
        // vertical-align: middle;
        max-height: 26px;
        max-width: 100%;
      }
    }
    a{
      text-decoration: none;
      &:visited{
        color: $color-main;
      }
      &:hover{
        color: $color-secondary;
      }
    }

    .box-nav-left{
      // margin-left: 2em;
      flex: 3;
      @include disp-flex;
      align-items: center;


      ul{
        li{
          padding: 0 25px;
        }
      }
    }

    .box-nav-right{
      // margin-right: 2.5em;
      flex: 2;
      @include disp-flex;
      align-items: center;
      justify-content: flex-end;
      li{
        &:not(:last-child){
          margin: 0.75em;
        }
      }
    }

    ul{
      font-weight: bolder;
      li{
        // padding: 0 20px;
        display: inline-block;
        list-style-type:none
      }
    }

  }

  .btn{
    font-weight: inherit;
  }


}
