body, html{
  height: 100%;
  color: $color-main;
  // font-family: arial, sans-serif;
  font-family: 'Hind', 'Open Sans', sans-serif;
  font-size: 16px;
}


p{
  // margin: 0.75em 0;
  line-height: 1.5em;
  &:last-child{
    margin: 0;
  }
}

ul{
  margin: 0;
}
.container-mustad{
  position: relative;
  width: 100%;
  padding: 0 3%;
  margin-right: auto;
  margin-left: auto;
}

.section-main_landing{
  // height: calc(000px - 10px);
  // @include height-calc-compatible("90% - 72px");
  height: 90%;
  padding-top: $header-height;
  font-family: 'Edmund-Free', 'Open Sans', sans-serif;
  color: $color-white;
  font-size: 1.75rem;

  .container-mustad{
    height: 100%;
    width: auto;
    @include disp-flex;
    // flex-direction: column;
    justify-content: space-between;
    // align-items: baseline;

    .main-left{
      height: 100%;
      width: auto;
      flex: 1;
      @include disp-flex;
      align-items: center;
      padding-left: 6%;
    }
    .main-right{
      height: 100%;
      flex: 1;
      overflow: hidden;
      // position: relative;
      // display: table;

      .container-img_phone{
        // display: table-cell;
        // vertical-align: middle;
        position: relative;
        max-height: 100%;
        top: 5vh;


        img.img_phone{
          position: absolute;
        }
        #phone-depan{
          // z-index:3;
          margin-left:84px;
          max-height: 500px;
        }
        #phone-belakang-1{
          // z-index:2;
          max-height: 450px;
          margin-top: 32px;

        }
        #phone-belakang-2{
          // z-index:1;
          margin-left:200px;
          max-height: 450px;
          margin-top: 32px;
        }
      }
    }
  }
}


.section-h_90{
  height: 90%;
}
.section-h_40{
  height: 40%;
}
.section-h_auto{
  height: auto;
}

.section-h_auto, .section-h_40, .section-h_90{
  padding: 2.85em 6%;
  position: relative;

  &.padding-top-header{
    padding-top: $header-height;
  }
  &.background-section{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

    .container-mustad{
      padding: 0 9%;
    }
    .overlay{
      top: 57%;
      width: 100%;
      position: absolute;
      // position: absolute;
      z-index: 1;
      filter: brightness(100%);
      h1, h2, h3, h4, h5, h6{
        margin: 0;
      }
    }
  }
}


.bg-main{
  background-color: $bg-color-main;
}
.bg-mustadz-secondary{
  background-color: $bg-color-secondary !important; 
}

.bg-image-1{
  background-image: url("../img/home/background.jpg");
  background-size:cover;
  background-position: 50% 50%;
  // height: 100%;
  filter: brightness(40%);
}

.background{
 //important for filter
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

.bg-green{
  background-color: $bg-color-green;
}

.heading-main, .heading-for-background{
  font-family: 'Hind', 'Open Sans', sans-serif;
  margin-bottom: 1.5em;
  font-weight: 600;
}

.heading-main{
  color: $custom-green;
  font-size: 1.5em;

}

.heading-for-background{
  color: $color-white;
  font-size: 1.85em;

}

.subheading-main{
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1.75em;
  margin-bottom: 1em;
  font-weight: 300;
}
.link-active{
  color: $color-secondary!important;
}
.link-read_more{
  font-family: 'Nunito', 'Open Sans', sans-serif;
  color: $color-secondary;
  font-weight: 600;
  text-decoration: none;
  &::after{
    font-family: FontAwesome;
    content: "\2192";
    font-size: 1.45em;
    font-weight: lighter;
    line-height: 0;
    vertical-align: middle;
    margin-left: 0.5em;
  }
  &:hover{
    color: $color-secondary;
    text-decoration: none;
  }
}

.link-fitur{
  position: absolute;
  right: 3%;
  font-size: 1.15em;
}
.link-googleplay{
  margin: 1em 0 1em -1%;
}

.image-100w-container{
  width: 100%;
  img{
    max-width: 100%;
  }
}


img.box-shadow{
  @include box-shadow(2);
}
