@font-face {
		font-family: 'Edmund-Free';
		src: url('../fonts/Edmund-Free/Edmund-Free.eot');
		src: url('../fonts/Edmund-Free/Edmund-Free.eot?#iefix') format('embedded-opentype'),
		     url('../fonts/Edmund-Free/Edmund-Free.woff') format('woff'),
		     url('../fonts/Edmund-Free/Edmund-Free.ttf') format('truetype'),
		     url('../fonts/Edmund-Free/Edmund-Free.svg') format('svg');
		font-weight: 900;
		font-style: normal;
	}

.no-margin{
  margin: 0;
}

.no-margin-top{
	margin-top: 0!important;
}

.no-padding{
	padding: 0;
}

.margin-side-0p5{
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.margin-l-0p5{
  margin-left: 0.5em;
}
.margin-r-0p5{
  margin-right: 0.5em;
}

.margin-side-1{
  margin-left: 1em;
  margin-right: 1em;
}
.margin-l-1{
  margin-left: 1em;
}
.margin-r-1{
  margin-right: 1em;
}

.margin-side-1p5{
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.margin-l-1p5{
  margin-left: 1.5em;
}
.margin-r-1p5{
  margin-right: 1.5em;
}

.margin-side-2{
  margin-left: 2em;
  margin-right: 2em;
}
.margin-l-2{
  margin-left: 2em;
}
.margin-r-2{
  margin-right: 2em;
}
