@font-face {
		font-family: 'Edmund-Free';
		src: url('../fonts/Edmund-Free/Edmund-Free.eot');
		src: url('../fonts/Edmund-Free/Edmund-Free.eot?#iefix') format('embedded-opentype'),
		     url('../fonts/Edmund-Free/Edmund-Free.woff') format('woff'),
		     url('../fonts/Edmund-Free/Edmund-Free.ttf') format('truetype'),
		     url('../fonts/Edmund-Free/Edmund-Free.svg') format('svg');
		font-weight: 900;
		font-style: normal;
	}
