@font-face {
  font-family: 'Edmund-Free';
  src: url("../fonts/Edmund-Free/Edmund-Free.eot");
  src: url("../fonts/Edmund-Free/Edmund-Free.eot?#iefix") format("embedded-opentype"), url("../fonts/Edmund-Free/Edmund-Free.woff") format("woff"), url("../fonts/Edmund-Free/Edmund-Free.ttf") format("truetype"), url("../fonts/Edmund-Free/Edmund-Free.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* line 12, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.no-margin {
  margin: 0;
}

/* line 16, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.no-padding {
  padding: 0;
}

/* line 20, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-side-0p5 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-l-0p5 {
  margin-left: 0.5em;
}

/* line 27, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-r-0p5 {
  margin-right: 0.5em;
}

/* line 31, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-side-1 {
  margin-left: 1em;
  margin-right: 1em;
}

/* line 35, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-l-1 {
  margin-left: 1em;
}

/* line 38, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-r-1 {
  margin-right: 1em;
}

/* line 42, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-side-1p5 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* line 46, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-l-1p5 {
  margin-left: 1.5em;
}

/* line 49, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-r-1p5 {
  margin-right: 1.5em;
}

/* line 53, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-side-2 {
  margin-left: 2em;
  margin-right: 2em;
}

/* line 57, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-l-2 {
  margin-left: 2em;
}

/* line 60, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_pre.scss */
.margin-r-2 {
  margin-right: 2em;
}

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
body, html {
  height: 100%;
  color: #5F5F5F;
  font-family: arial, sans-serif;
  font-size: 16px;
}

/* line 9, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
p {
  margin: 0.75em 0;
  line-height: 1.5em;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
ul {
  margin: 0;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.container-mustad {
  position: relative;
  width: 100%;
  padding: 0 3%;
  margin-right: auto;
  margin-left: auto;
}

/* line 25, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing {
  height: 90%;
  padding-top: 72px;
  font-family: 'Edmund-Free', 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 1.75rem;
}

/* line 34, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad {
  height: 100%;
  width: auto;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
}

/* line 42, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-left {
  height: 100%;
  width: auto;
  flex: 1;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  padding-left: 6%;
}

/* line 50, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right {
  height: 100%;
  flex: 1;
  overflow: hidden;
}

/* line 57, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone {
  position: relative;
  max-height: 100%;
  top: 5vh;
}

/* line 65, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone img.img_phone {
  position: absolute;
}

/* line 68, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone #phone-depan {
  margin-left: 84px;
  max-height: 500px;
}

/* line 73, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone #phone-belakang-1 {
  max-height: 450px;
  margin-top: 32px;
}

/* line 79, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone #phone-belakang-2 {
  margin-left: 200px;
  max-height: 450px;
  margin-top: 32px;
}

/* line 90, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-h_90 {
  height: 90%;
}

/* line 94, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-h_auto {
  height: auto;
  padding: 3.15em 6%;
}

/* line 100, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.bg-main {
  background-color: #ffffff;
}

/* line 103, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.bg-mustadz-secondary {
  background-color: #F0F0F0;
}

/* line 107, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.bg-green {
  background-color: #78C16B;
}

/* line 111, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.heading-main {
  font-family: 'Hind', 'Open Sans', sans-serif;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  font-weight: 600;
}

/* line 118, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.heading-main {
  color: #78C16B;
}

/* line 122, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.subheading-main {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1.75em;
  margin-bottom: 1em;
  font-weight: 300;
}

/* line 129, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.link-read_more {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  color: #78C16B;
  font-weight: 600;
  text-decoration: none;
}

/* line 134, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.link-read_more::after {
  font-family: FontAwesome;
  content: "\2192";
  font-size: 1.45em;
  font-weight: lighter;
  line-height: 0;
  vertical-align: middle;
  margin-left: 0.5em;
}

/* line 143, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.link-read_more:hover {
  color: #78C16B;
  text-decoration: none;
}

/* line 149, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.link-fitur {
  position: absolute;
  right: 3%;
  font-size: 1.15em;
}

/* line 154, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.link-googleplay {
  margin: 1em 0 1em -1%;
}

/* line 158, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.image-100w-container {
  width: 100%;
}

/* line 160, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.image-100w-container img {
  max-width: 100%;
}

/* line 166, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
img.box-shadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-sm {
  padding: 1px 8px;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-md {
  padding: 6px 16px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-lg {
  padding: 7px 20px;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-x-sm {
  padding-right: 6px;
  padding-left: 6px;
}

/* line 21, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-x-md {
  padding-right: 12px;
  padding-left: 12px;
}

/* line 25, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-x-lg {
  padding-right: 18px;
  padding-left: 18px;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-y-sm {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 33, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-y-md {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-y-lg {
  padding-top: 18px;
  padding-bottom: 18px;
}

/* line 43, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.border-thick-2 {
  border-width: 2px;
}

/* line 51, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn-alt-green2 {
  color: #27AE60 !important;
  border-color: #27AE60;
}

/* line 55, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn-alt-green2:hover {
  background-color: #27AE60;
  color: #ffffff !important;
}

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_cards.scss */
.card-mustadz {
  border-color: transparent;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1.25em 1em;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Hind', 'Open Sans', sans-serif;
}

/* line 13, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_cards.scss */
.card-mustadz .card-img-container {
  max-width: 100;
  margin: 1.25em 0 1.75em;
}

/* line 16, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_cards.scss */
.card-mustadz .card-img-container img {
  max-height: 130px;
}

/* line 22, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_cards.scss */
.heading-card {
  color: #78C16B;
  font-weight: 600;
  font-size: 1.5em;
}

/* line 28, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_cards.scss */
.flex-space-around {
  justify-content: space-between;
}

/* line 2, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  height: 72px;
  position: fixed;
  font-size: 17px;
  font-family: 'Nunito', 'Open Sans', sans-serif;
  z-index: 999;
}

/* line 13, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
}

/* line 19, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .logo-container {
  height: 100%;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
}

/* line 28, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .logo-container img {
  max-height: 26px;
  max-width: 100%;
}

/* line 34, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad a {
  text-decoration: none;
}

/* line 36, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad a:visited {
  color: #5F5F5F;
}

/* line 39, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad a:hover {
  color: #78C16B;
}

/* line 44, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-left {
  flex: 3;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
}

/* line 52, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-left ul li {
  padding: 0 25px;
}

/* line 58, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-right {
  flex: 2;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* line 65, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-right li:not(:last-child) {
  margin: 0.75em;
}

/* line 71, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad ul {
  font-weight: bolder;
}

/* line 73, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad ul li {
  display: inline-block;
  list-style-type: none;
}

/* line 82, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .btn {
  font-weight: inherit;
}

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer {
  position: relative;
  overflow: hidden;
  font-family: 'Hind', 'Open Sans', sans-serif;
  font-weight: 400;
}

/* line 7, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer .container-mustad {
  padding: 3.15em 9%;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer p {
  font-size: 18px;
  line-height: 1;
}

/* line 15, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer p.first-par {
  margin-top: 0;
}

/* line 19, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer #decor-circle-1, #footer #decor-circle-2 {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #78C16B;
  opacity: 0.85;
  border-radius: 50%;
}

/* line 28, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer #decor-circle-1 {
  right: -4%;
  bottom: -108%;
}

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer #decor-circle-2 {
  right: -24%;
  top: 0;
}

/*# sourceMappingURL=../css/main-style.map */