@font-face {
  font-family: 'Edmund-Free';
  src: url("../fonts/Edmund-Free/Edmund-Free.eot");
  src: url("../fonts/Edmund-Free/Edmund-Free.eot?#iefix") format("embedded-opentype"), url("../fonts/Edmund-Free/Edmund-Free.woff") format("woff"), url("../fonts/Edmund-Free/Edmund-Free.ttf") format("truetype"), url("../fonts/Edmund-Free/Edmund-Free.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
body, html {
  height: 100%;
  color: #5F5F5F;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
p {
  margin: 0.75em 0;
}

/* line 12, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.container-mustad {
  width: 100%;
  padding: 0 3%;
  margin-right: auto;
  margin-left: auto;
}

/* line 19, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing {
  /* Firefox */
  height: -moz-calc(90% - 100px);
  /* WebKit */
  height: -webkit-calc(90% - 100px);
  /* Opera */
  height: -o-calc(90% - 100px);
  /* Standard */
  height: calc(90% - 100px);
  padding-top: 72px;
  font-family: 'Edmund-Free', 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 1.75rem;
}

/* line 27, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad {
  height: 100%;
  width: auto;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
}

/* line 35, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-left {
  height: 100%;
  width: auto;
  flex: 1;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  padding-left: 6%;
}

/* line 43, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right {
  height: 100%;
  flex: 1;
  overflow: hidden;
}

/* line 50, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone {
  position: relative;
  max-height: 100%;
  top: 5vh;
}

/* line 58, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone img.img_phone {
  position: absolute;
}

/* line 61, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone #phone-depan {
  margin-left: 84px;
  max-height: 500px;
}

/* line 66, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone #phone-belakang-1 {
  max-height: 450px;
  margin-top: 32px;
}

/* line 72, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-main_landing .container-mustad .main-right .container-img_phone #phone-belakang-2 {
  margin-left: 200px;
  max-height: 450px;
  margin-top: 32px;
}

/* line 85, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-h_90 {
  height: 90%;
}

/* line 89, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.section-h_auto {
  height: auto;
  padding: 2.5em 6%;
}

/* line 95, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.bg-main {
  background-color: #ffffff;
}

/* line 98, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.bg-secondary {
  background-color: #F0F0F0;
}

/* line 102, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.bg-green {
  background-color: #78C16B;
}

/* line 106, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.heading-main {
  font-family: 'Hind', 'Open Sans', sans-serif;
  margin-bottom: 2em;
  font-weight: bolder;
}

/* line 112, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.heading-main {
  color: #78C16B;
}

/* line 116, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_main.scss */
.link-googleplay {
  margin: 1em 0 !important;
}

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-sm {
  padding: 1px 8px;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-md {
  padding: 6px 16px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-lg {
  padding: 7px 20px;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-x-sm {
  padding-right: 6px;
  padding-left: 6px;
}

/* line 21, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-x-md {
  padding-right: 12px;
  padding-left: 12px;
}

/* line 25, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-x-lg {
  padding-right: 18px;
  padding-left: 18px;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-y-sm {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 33, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-y-md {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.btn-y-lg {
  padding-top: 18px;
  padding-bottom: 18px;
}

/* line 43, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn.border-thick-2 {
  border-width: 2px;
}

/* line 51, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn-alt-green2 {
  color: #27AE60 !important;
  border-color: #27AE60;
}

/* line 55, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/components/_buttons.scss */
.btn-alt-green2:hover {
  background-color: #27AE60;
  color: #ffffff !important;
}

/* line 2, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  height: 72px;
  position: fixed;
  font-size: 17px;
  font-family: 'Nunito', 'Open Sans', sans-serif;
  z-index: 999;
}

/* line 13, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
}

/* line 19, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .logo-container {
  height: 100%;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
}

/* line 28, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .logo-container img {
  max-height: 26px;
  max-width: 100%;
}

/* line 34, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad a {
  text-decoration: none;
}

/* line 36, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad a:visited {
  color: #5F5F5F;
}

/* line 39, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad a:hover {
  color: #78C16B;
}

/* line 44, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-left {
  flex: 3;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
}

/* line 52, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-left ul li {
  padding: 0 25px;
}

/* line 58, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-right {
  flex: 2;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* line 65, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad .box-nav-right li:not(:last-child) {
  margin: 0.75em;
}

/* line 71, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad ul {
  font-weight: bolder;
}

/* line 73, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_header.scss */
#header .container-mustad ul li {
  display: inline-block;
  list-style-type: none;
}

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/MUstadz/assets/scss/layouts/_footer.scss */
#footer {
  padding: 2.5em 6%;
}

/*# sourceMappingURL=../css/main-style.map */